body {
  background-color: #008000
}
.box {
  padding: 25px;
  background-color: #70db70;
  margin: 20px auto;
  max-width: 75%;
  align-items: center
} 
h1 {
  font-size: 2.5em;
  color: #cc3333;
  text-align: center;
  font-family: helvetica, Georgia, "Times New Roman", serif;
}
h2 {
  font-size: 2em;
  color: #cc8033;
  margin-top: 5px;
  padding: 10px;
  font-family: helvetica;
}
/*input box fields*/
input[type="text"],
input[type="email"],
input[type="tel"]{
  width: 95%;
  padding: 5px;
  margin: 10px;
  font-size: 1px;
}
p {
  font-size: 1.2em;
  padding: 10px;
}
ul {
  font-size: 1.2em;
  padding: 10px;
}
label {
  font-size: 1.2em;
  padding: 10px;
}
img {
	display: block;
	width: 50%;
	margin: auto;
}

/*min-width media queries*/
